h1 {
    margin-bottom: 5px;
    width: 15%;
}

.dropDown {
    width: 30%;
    background-color: beige;
    max-height: 0;
    overflow: hidden;
    transition: max-height .6s ease-in-out;
/* Aparecer por cima do h1 de baixo */
    position: absolute;
}

h1:active .dropDrown {
    max-height: 100px;
}

@keyframes open {
    0% {
        max-height: 0px;
    }
    
    100% {
        max-height: 100px;
    }
}

.dropDown p {
    margin: 15px;
}

.showIt {
/*    display: block;*/
    max-height: 100px;
    z-index: 9999;
}


*/
/*CSS Transition Animation*/