h1 {
    margin-bottom: 5px;
    width: 15%;
}

.dropDown {
    width: 30%;
    background-color: beige;
/*    display: none;*/

/*
    animation-name: open;
    animation-duration: 1.2s;
    animation-iteration-count: 1;
    transition-timing-function: ease-in-out;
*/
    max-height: 0;
    overflow: hidden;
    transition: max-height .7s ease-in-out;
}

h1:active .dropDrown {
    max-height: 100px;
}

@keyframes open {
    0% {
        max-height: 0px;
    }
    
    100% {
        max-height: 100px;
    }
}

.dropDown p {
    margin: 15px;
}

.showIt {
/*    display: block;*/
    width: 30%;
    background-color: beige;
    max-height: 100px;
    overflow: hidden;
}


*/
/*CSS Transition Animation*/